/* reset styles */
#better-search-extension,
#better-search-extension * {
  all: unset;
  box-sizing: border-box;
  font-family: Arial, sans-serif !important;
  color: #efefec !important;
  background: transparent !important;
  border: none !important;
  outline: none !important;
  text-decoration: none !important;
  box-shadow: none !important;
  appearance: none !important;
}

/* main extension container */
#better-search-extension {
  position: fixed !important;
  top: 10px !important;
  right: 100px !important;
  z-index: 2147483647 !important;
  display: flex !important;
  align-items: center !important;
  gap: 5px !important;
  background: #2c2c2c !important;
  border-radius: 6px !important;
  padding: 5px 10px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4) !important;
  height: 50px !important;
  color: #efefec !important;
  transition: all 0.2s ease-in-out !important;
}

/* search */
#better-search-extension .better-search-extension__search-input {
  flex-grow: 1 !important;
  color: #efefec !important;
  padding: 8px !important;
  font-size: 14px !important;
  border-radius: 4px !important;
  transition: all 0.2s ease-in-out !important;
}
#better-search-extension .better-search-extension__search-input:hover {
  background: #3a3a3a !important;
}
#better-search-extension .better-search-extension__search-input::placeholder {
  color: #efefec80 !important;
}
#better-search-extension .better-search-extension__search-input:focus {
  outline: none !important;
}
#better-search-extension .better-search-extension__search-input:focus::placeholder {
  color: transparent !important;
}
#better-search-extension .better-search-extension__close-button {
  background: transparent !important;
  border: none !important;
  color: #efefec !important;
  font-size: 18px !important;
  cursor: pointer !important;
  padding: 0 5px !important;
  opacity: 0.5 !important;
  transition: all 0.2s ease-in-out !important;
  margin-left: 8px !important;
}
#better-search-extension .better-search-extension__close-button:hover {
  opacity: 1 !important;
}

/* navigation beetween search results */
#better-search-extension .better-search-extension__navigation {
  margin-left: 8px !important;
}
#better-search-extension .better-search-extension__navigation button {
  font-size: 14px !important;
  cursor: pointer !important;
  padding: 2px !important;
  margin: 0 2px 0 2px !important;
  transition: all 0.2s ease-in-out !important;
}
#better-search-extension .better-search-extension__navigation button.disabled {
  opacity: 0.5 !important;
  pointer-events: none !important;
}
#better-search-extension .better-search-extension__navigation-numbers {
  display: inline-flex !important;
  justify-content: center !important;
  width: 60px !important;
  font-size: 10px !important;
  margin-left: 4px !important;
}

/* hightlights styles */
span.better-search-highlight {
  background-color: #1fffb8;
  color: #000;
}
span.better-search-highlight.active {
  background-color: #ff9057;
  animation-name: backgroundFlickering;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes backgroundFlickering {
  0% {
    background-color: #ff9057;
  }
  50.0% {
    background-color: #ffad84;
  }
  100.0% {
    background-color: #ff9057;
  }
}
